my*
__pycache__
*.py[cod]
*.so

*.egg-info
dist

build
docs/build

*.backup
*.orig
*.org
do.sh
do2.sh
do_pypi.sh

*backup/
*test/
*bug/
*box/
his
myexamples
examples/mp-149
memo.txt
auto_kappa.egg-info

