@import url("theme.css");

/*
code.literal {
    color: #196F3D !important;
    background-color: #EAFAF1 !important;
}
*/

.wy-nav-top {
    background: #154360;
    /*#E5FFF3*/
}

.wy-nav-content {
    max-width: 900px;
    margin-left: 0;
    margin-right: auto;
}

.wy-side-nav-search {
    background-color: #154360;
}


